numpy
matplotlib
pandas
scipy
pyscf==2.2.1
icecream
seaborn
tqdm
natsort
rdkit
jsonargparse[all]

mogli
imageio[ffmpeg]
py3Dmol

# silence warnings about setuptools + numpy
setuptools < 60.0

jax==0.3.16
jaxlib==0.3.15
jaxtyping==0.2.8