# Runtime dependencies for pyscf-ipu with CPU backend
#
# See also:
#    requirements_core.txt for core configuration
#    requirements_ipu.txt for ipu backend configuration
#    requirements_test.txt for test-only dependencies    

jax==0.3.16
jaxlib @ https://storage.googleapis.com/jax-releases/nocuda/jaxlib-0.3.15-cp38-none-manylinux2014_x86_64.whl
