numpy
matplotlib
pandas
scipy
pyscf
icecream
seaborn
tqdm
pytest
natsort
rdkit

# silence warnings about setuptools + numpy
setuptools < 60.0

# Experimental JAX for IPU
-f https://graphcore-research.github.io/jax-experimental/wheels.html
# jax==0.3.16+ipu
# jaxlib==0.3.15+ipu.sdk320
