# Test dependencies for pyscf-ipu
#
# See also:
#    requirements_core.txt for core runtime configuration
#    requirements_cpu.txt for cpu backend configuration
#    requirements_ipu.txt for ipu backend configuration
black[jupyter]
pytest
nbmake
pre-commit
flake8
flake8-copyright
isort
