# Runtime dependencies for pyscf-ipu
#
# See also:
#    requirements_ipu.txt for ipu backend configuration
#    requirements_test.txt for test-only dependencies    
numpy
matplotlib
pandas
scipy
h5py
pubchempy
pyscf==2.2.1
icecream
seaborn
tqdm
natsort
rdkit
jsonargparse[all]

mogli
imageio[ffmpeg]
py3Dmol

# silence warnings about setuptools + numpy
setuptools < 60.0

jax==0.3.16
jaxtyping==0.2.8
chex
