# Runtime dependencies for pyscf-ipu with IPU backend
#
# See also:
#    requirements_core.txt for core runtime configuration
#    requirements_cpu.txt for cpu backend configuration
#    requirements_test.txt for test-only dependencies
jax @ https://github.com/graphcore-research/jax-experimental/releases/download/jax-v0.3.16-ipu-beta3-sdk3/jax-0.3.16%2Bipu-py3-none-any.whl
jaxlib @ https://github.com/graphcore-research/jax-experimental/releases/download/jax-v0.3.16-ipu-beta3-sdk3/jaxlib-0.3.15%2Bipu.sdk320-cp38-none-manylinux2014_x86_64.whl
tessellate-ipu@git+https://github.com/graphcore-research/tessellate-ipu.git@main
